* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body,
#app {
	height: 100%;
	width: 100%;
	background-color: darkslategrey;
}

li {
	list-style-type: none;
	padding: 10px;
}

#app {
	font-family: Arial, Helvetica, sans-serif;
	color: beige;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 50px;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn-clear {
	border: none;
	background: transparent;
}

.nav-link {
	font-size: 1.15rem;
	font-weight: bold;
	text-decoration: none;
	color: inherit;
}

.grid {
	display: flex;
	flex-wrap: wrap;
}

.space-around {
	justify-content: space-around;
}

.header-lg {
	font-size: 1.75rem;
	font-weight: 300;
	margin: 20px;
}

.header-sm {
	font-size: 1.5rem;
	font-weight: 300;
	margin: 10px;
}

.avatar {
	display: block;
	width: 150px;
	height: 150px;
	border-radius: 3px;
	margin: 0 auto;
}

.center-text {
	text-align: center;
}

.link {
	color: darkorange;
	text-decoration: none;
	font-weight: bold;
}

.card-list {
	margin: 20px 0;
	font-size: 1.15rem;
}

.card-list li {
	display: flex;
	align-items: center;
	margin: 10px;
	padding: 0;
}

.card-list a {
	font-weight: 500;
	color: inherit;
}

.card-list svg {
	margin-right: 10px;
}

.bg-light {
	background: rgba(0, 0, 0, 0.3);
	border-radius: 5px;
}

.repo {
	width: 250px;
	margin: 10px 0;
	padding: 10px;
}

.repo a {
	text-decoration: none;
}

.repo img {
	margin-bottom: 8px;
}

.instructions-container {
	margin: 100px 0;
}

.container-sm {
	margin: 0 auto;
}

.battle-instructions {
	font-size: 1.5rem;
	padding: 0;
}

.battle-instructions li {
	flex: 1;
	min-width: 300px;
}

.battle-instructions svg {
	padding: 20px;
	border-radius: 3px;
}
